body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Cor de fundo padrão */
    transition: background-color 0.3s ease; /* Efeito de transição de cor de fundo */
}

#divMain {
    background-color: #fff; /* Cor de fundo do contêiner principal */
    padding: 10vh;
    border-radius: 10vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* Efeito de transição de cor de fundo */
}

#round {
    text-align: left;
    margin-top: auto;
}

#divJogador {
    margin-top: 20px;
}

#dashboard {
    border-collapse: collapse;
    margin-top: 15px;
}

#dashboard td {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

#btnMudarModo {
    margin-top: 10px;
    padding: 5px;
    font-size: 11px;
    cursor: pointer;
}

#btnRestart{
    margin-top: 10px;
    padding: 5px;
    font-size: 11px;
    cursor: pointer;
}

.dark-mode {
    background-color: #333; /* Cor de fundo em modo escuro */
    color: #fff; /* Cor do texto em modo escuro */
}

.dark-mode #divMain {
    background-color: #444; /* Cor de fundo do contêiner principal em modo escuro */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}